.hero{

    min-height:100vh;

    padding:60px 90px;

    display:flex;

    flex-direction:column;

    justify-content:space-between;

    background:#0b0b0b;

    color:white;

    overflow:hidden;

}
.hero-content h1{
    font-size: clamp(5rem, 10vw, 9rem);
    line-height: .88;
    font-weight: 700;
    letter-spacing: -5px;
}
.hero-content h1 span{
    color:#FF5A1F;
}
.hero-top{

    display:flex;

    justify-content:flex-end;

}
.hero-subtitle{

    font-size:1.2rem;

    text-transform:uppercase;

    letter-spacing:4px;

    opacity:.7;

}
.hero-content{

    display:flex;

    justify-content:space-between;

    align-items:flex-end;

    gap:100px;

}
.hero-content h1{

    font-size:9rem;

    line-height:.9;

    font-weight:700;

    text-transform:uppercase;

    letter-spacing:-6px;

}
.hero-info{

    display:flex;

    flex-direction:column;

    gap:12px;

    text-align:right;

}
.hero-info p{

    display:flex;
    justify-content:flex-end;
    gap:12px;

    color:#9b9b9b;

}
.scroll-text{

    text-align:center;

    font-size:.9rem;

    letter-spacing:2px;

    text-transform:uppercase;

    opacity:.5;

}
.hero::before{

    content:"";

    position:absolute;

    width:450px;
    height:450px;

    border-radius:50%;

    background:#ff5a1f;

    filter:blur(220px);

    opacity:.12;

    right:-120px;
    top:120px;

}
@keyframes bounce{

0%,100%{
transform:translateY(0);
}

50%{
transform:translateY(8px);
}

}
.scroll-text{

animation:bounce 2s infinite;

}